CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.cache
.work
.l528work

# python stuff
*/__pycache__/

# executable name
output
runtime_exec
libruntime.a

# temporary stuff
tmp.json
temp

# don't include third-party libraries
include/nlohmann

# macos stuff
.DS_Store