enum NodeType
TOP_LEVEL
BLOCK
ASSIGN_OP
VAR_DECLARE
FUNC_DECLARE
IF
RETURN
WHILE
BINARY_OP
UNARY_OP
FUNC_CALL
INDEX_ACCESS
FIELD_ACESS
VAR_LOOKUP
EXPR_LIST
BUILTIN_PRINT
VEC_LITERAL
BOOL_LITERAL
INT_LITERAL
FLOAT_LITERAL
STRING_LITERAL