enum TokenType
FUNCTION
IMPORT
AS
LET
CONST
IF
ELSEIF
ELSE
WHILE
RETURN
IDENTIFIER
DOT            
DOT_DOT        
COMMA          
EQUALS         
EQUALS_EQUALS  
NOT            
NOT_EQUALS     
LESS           
LESS_EQUALS    
GREATER        
GREATER_EQUALS 
PLUS           
PLUS_EQUALS    
AND            
OR             
MINUS          
MINUS_EQUALS   
TIMES          
TIMES_EQUALS   
DIV            
DIV_EQUALS     
MOD            
MOD_EQUALS     
LPAREN         
RPAREN         
LBRACKET       
RBRACKET       
LBRACE         
RBRACE
COLON         
SEMICOLON      
BOOL_LITERAL
INT_LITERAL
FLOAT_LITERAL
STRING_LITERAL
NOTHING_LITERAL
END_OF_FILE
NULL_TOKEN